body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.3rem;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

nav {
  font-size: 200%;
  padding:.5rem;
  width: 100%;
}

h1{
  font-size: 100%;
  font-weight: normal;
  text-decoration: underline;
  padding: 1rem;
  width: 100%;
}

nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;  
}

nav a:hover {
  font-style: oblique;
}

nav ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

nav li {
  padding: 1rem;
}

h2 {
  font-size: 125%;
  padding: 2%;
  font-weight: normal;
  text-decoration: underline;
  font-family: 'Times New Roman', Times, serif;
}

p {
  font-size: 90%;
  line-height: 1.3rem;
  padding: 2%;
  color: rgb(0, 0, 0);
}

figure img {
  width: 100%;
  height: auto;
}

figcaption{
  font-style: oblique;
  font-family: 'Times New Roman', Times, serif;
  font-size: 85%;
  line-height: 1rem;
  color: rgb(150, 150, 150);
  margin-bottom: 2rem;
}

.home-page {
  background-image: url(images/Walter-de-Maria-–-The-New-York-Earth-Room-1977-scaled.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home-text {
  height: 50rem;
  width: 20%;
  padding: 2%;
  background-color: rgba(255, 255, 255, 0.58);
}

.biography-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  padding: 1%;
  width: 50%;
}

.biography-images img{
  width: 200%;
  height: auto;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  gap: 1rem;
  padding: 2rem;
}

.art-layout {
  display: grid;
  padding: 1rem;
  width: 40%;
}
